:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
  }
    
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
  }
  
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url("pexels-christina-morillo-1181263.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  h1 {
    font-weight: 400;
  }

  p {
    font-size: 1.125rem;
  }

  .clue {
    font-size: 0.9rem;
    margin-left: 0.25rem;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

 header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
 }

.text-center {
    text-align: center;
}

.description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);

}

form {
    background: var(--color-darkblue-alpha);
    /*
    width: 100%;
    height: auto;
    */
    border-radius: 0.25rem;
}

#survey-form {
    padding: 2.5rem;
}

/* FORM GROUP*/
label {
    display: flex;
    font-size: 1.125rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

.form-group {
    display: grid;
    margin: 1rem 0;
}

.form-control {
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

input {
    margin: 0;
}

.input-radio {
    margin-right: 0.625rem;
}

.input-checkbox {
    margin-right: 0.625rem;
}

.input-textarea {
    min-height: 120px;
    padding: 0.625rem;
}

/* BUTTON */
button {
    border: none;
}

.submit-button {
    background-color: var(--color-green);
    color: var(--color-white);
    border-radius: 2px;
    padding: 0.75rem;
}
